absl-py==0.7.1
astor==0.7.1
beautifulsoup4==4.9.0
bleach==1.5.0
certifi==2019.11.28
contextlib2==0.6.0.post1
cycler==0.10.0
enum34==1.1.6
gast==0.2.2
google==2.0.3
google-pasta==0.2.0
grpcio==1.17.1
h5py==2.8.0
html5lib==0.9999999
joblib==0.14.0
jupyter==1.0.0
jupyter-console==6.1.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.5
keyboard==0.13.5
kiwisolver==1.0.1
lxml==4.5.0
Markdown==3.0.1
matplotlib==3.0.2
numpy==1.16.0
opencv-python==3.4.5.20
opt-einsum==3.2.0
protobuf==3.6.1
pyparsing==2.3.0
PySimpleGUI==4.18.2
python-dateutil==2.7.5
PyYAML==3.13
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
soupsieve==2.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
Werkzeug==0.14.1
wincertstore==0.2
wrapt==1.12.1
